body{
    font-family: sans-serif;
    font-size: 18px;
}

button{
    font-size: 24px;
    margin:4px;
}

.container{
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:auto;
    grid-gap: 10px;
    padding:24px;
    border:3px solid #5A5766;
    border-radius: 5%;
    min-height: 400px;
    min-width: 400px;
    max-width: 600px;
    background-color: #69A8D9;

    grid-template-areas: 
    "result result result result"
    "button button button button"
    "digit digit digit digit"
    "digit digit digit digit"
    "digit digit digit digit"
    "digit digit digit digit";
}

.result{
    grid-area:result;
    border:1px solid #5A5766;
    width: 100%;
    height:20px;
    background-color: #FAFAFA;
    text-align: end;
    padding:20px 0px;
    border-radius: 5%;
}

.digit{
    /* grid-area:digit; */
    background: #FAFAFA;
    padding: 20px;
}

.operator{
    background-color: #AAD8FF;
    padding: 20px;
}

.enter{
    background-color: #EFD96C;
}


.button{
    border:1px solid #5A5766;
    height: 40px;
    width: 100px;
    background-color: rgb(241, 111, 111);
    justify-self: center;
    border-radius: 10%;
}

.item{
    border:1px solid #5A5766;
    border-radius: 10%;
    min-height:60px;
    min-width: 60px;
}

button:hover{
    opacity: 75%;
    box-shadow: 2px 0px #403d4b;
}


